services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  payment:
    build:
      context: ./payment-service
    environment:
      - QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://postgres:5432/payment_db
      - QUARKUS_DATASOURCE_USERNAME=payment_user
      - QUARKUS_DATASOURCE_PASSWORD=password
      - QUARKUS_HTTP_PORT=8082
      - bank.api.url=http://payment:8082/bank/api/pay
      - PAYMENT_WEBHOOK_URL=http://payment:8082/paiement/webhook
    ports:
      - "8082:8082"
    depends_on:
      postgres:
        condition: service_healthy

  order:
    build:
      context: ./order_service
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/order_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - services.payment.url=http://payment:8082
      - server.port=8080
      - spring.cloud.compatibility-verifier.enabled=false
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
      payment:
        condition: service_started

networks:
  default:
    name: eshop_net